Repository deepaucksharma-nr/Phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-go-workspace, check-imports, validate-api-contracts

validate-go-workspace:
  name: Validate Go Workspace
  entry: bash -c 'go work sync && git diff --exit-code go.work.sum'
  language: system
  pass_filenames: false

check-imports:
  name: Check Import Violations
  entry: ./tools/analyzers/import-check.sh
  language: script

validate-api-contracts:
  name: Validate API Contracts
  entry: ./tools/analyzers/contract-validator.sh
  language: script

🔧 fix: Resolve platform-api import paths and model compatibility issues
  packages/go-common/eventbus/memory_eventbus.go
  packages/go-common/store/store.go
  packages/go-common/store/store_test.go
  projects/pipeline-operator/cmd/main.go
  projects/platform-api/cmd/api/main.go
  projects/platform-api/go.mod
  projects/platform-api/go.sum
  projects/platform-api/internal/services/experiment_service.go
  projects/platform-api/internal/services/pipeline_deployment_service.go
  projects/platform-api/internal/services/pipeline_status_aggregator.go
  projects/platform-api/internal/store/postgres_store.go
  projects/platform-api/internal/store/store.go
Due: validate-go-workspace, check-imports

all
  ACTIVE_DEVELOPMENT.md
  CONSOLIDATED_DOCS_PLAN.md
  DEVELOPMENT_TIPS.md
  MIGRATION_SUCCESS_FINAL.md
  PLATFORM_STATUS.md
  PRD_ACTION_PLAN.md
  PRD_VISUAL_SUMMARY.md
  PROJECT_HANDOFF.md
  START_HERE.md
  docs/PRD_ANALYSIS_README.md
  docs/prd/GAP_ANALYSIS.md
  docs/prd/IMPLEMENTATION_PLAN.md
  docs/prd/TRACKING_CHECKLIST.md
  projects/dashboard/package-lock.json
  projects/dashboard/package.json
  projects/dashboard/src/pages/DeployedPipelines.tsx
  projects/dashboard/src/pages/Experiments.tsx
  projects/dashboard/src/pages/PipelineCatalog.tsx
  projects/dashboard/src/router/index.tsx
  projects/loadsim-operator/api/v1alpha1/zz_generated.deepcopy.go
  projects/loadsim-operator/cmd/main.go
  projects/loadsim-operator/cmd/simulator/main.go
  projects/loadsim-operator/go.mod
  projects/loadsim-operator/hack/boilerplate.go.txt
  projects/loadsim-operator/internal/controller/loadsimulationjob_controller.go
  projects/phoenix-cli/cmd/experiment_delete.go
  projects/phoenix-cli/internal/client/api.go
  scripts/consolidate-docs.sh
  scripts/e2e-validation.sh
Due: validate-go-workspace, check-imports, validate-api-contracts

feat: Add validation scripts and complete Sprint 0-2 implementation
  scripts/demo-flow.sh
  scripts/quick-validation.sh
Due: none

all
  projects/dashboard/END_TO_END_INTEGRATION_STATUS.md
  projects/dashboard/src/components/Auth/AuthProvider.tsx
  projects/dashboard/src/components/Auth/PrivateRoute.tsx
  projects/dashboard/src/components/Auth/RoleGuard.tsx
  projects/dashboard/src/components/Auth/SessionTimeout.tsx
  projects/dashboard/src/components/Auth/UserProfile.tsx
  projects/dashboard/src/components/Auth/__tests__/AuthComponents.test.tsx
  projects/dashboard/src/components/Auth/__tests__/PrivateRoute.test.tsx
  projects/dashboard/src/components/Auth/index.ts
  projects/dashboard/src/hooks/index.ts
  projects/dashboard/src/hooks/useAuth.ts
  projects/dashboard/src/pages/ForgotPassword.tsx
  projects/dashboard/src/pages/Login.tsx
  projects/dashboard/src/pages/Register.tsx
  projects/dashboard/src/router/index.tsx
  projects/dashboard/src/services/api.service.ts
  projects/dashboard/src/store/__tests__/useAuthStore.test.ts
  projects/dashboard/src/store/slices/authSlice.ts
  projects/dashboard/src/store/slices/experimentSlice.ts
  projects/dashboard/src/store/slices/pipelineSlice.ts
  projects/dashboard/src/types/auth.ts
  projects/dashboard/src/types/index.ts
  projects/dashboard/vite.config.ts
Due: none

new
  .github/workflows/ci-dashboard.yml
  .github/workflows/security.yml
  Makefile
  PLATFORM_STATUS.md
  PRD_STATUS.md
  REMEDIATION_PROGRESS.md
  docs/architecture/MESSAGING_DECISION.md
  pkg/analytics/types.go
  pkg/go.mod
  projects/analytics/Makefile
  projects/analytics/api/analytics.proto
  projects/analytics/cmd/analytics/main.go
  projects/analytics/go.mod
  projects/analytics/go.sum
  projects/analytics/internal/server/server.go
  projects/analytics/internal/service/analytics.go
  projects/analytics/internal/service/analytics_test.go
  projects/analytics/scripts/generate.ps1
  projects/analytics/scripts/generate.sh
  projects/anomaly-detector/Makefile
  projects/anomaly-detector/api/anomaly.proto
  projects/anomaly-detector/cmd/anomaly-detector/main.go
  projects/anomaly-detector/go.mod
  projects/anomaly-detector/internal/server/server.go
  projects/anomaly-detector/internal/service/anomaly.go
  projects/anomaly-detector/internal/service/anomaly_test.go
  projects/anomaly-detector/scripts/generate.ps1
  projects/pipeline-operator/go.mod
  scripts/test-coverage.sh
  scripts/validate-monorepo.sh
Due: validate-go-workspace, check-imports, validate-api-contracts

fix conditional cleanup experiment
  tests/acceptance/framework/test_suite.go
Due: check-imports

Update migration validation tests for new project layout
  tests/integration/migration_validation_test.go
Due: check-imports

docs: update paths in development guide
  DEVELOPMENT_GUIDE.md
Due: none

Update build validation paths
  scripts/validate-builds.sh
Due: none

docs: update version badge
  README.md
Due: none

loadsim: handle invalid duration
  projects/loadsim-operator/internal/controller/loadsimulationjob_controller.go
Due: check-imports

docs: update workflow and add integration tests
  PRD_STATUS.md
  QUICKSTART.md
  README.md
  docs/operations/OPERATIONS_GUIDE_COMPLETE.md
  tests/integration/experiment_analysis_test.go
  tests/integration/pipeline_experiment_integration_test.go
Due: check-imports

feat: add vm collector config support
  QUICKSTART.md
  docs/operations/OPERATIONS_GUIDE_COMPLETE.md
  projects/phoenix-cli/cmd/pipeline_vm_config.go
Due: check-imports

Add Prometheus metrics analysis
  pkg/common/analysis/analysis.go
  projects/controller/internal/controller/state_machine.go
Due: check-imports

feat: integrate pipeline status endpoints
  projects/phoenix-cli/cmd/experiment_start.go
  projects/phoenix-cli/cmd/pipeline_deploy.go
  projects/phoenix-cli/cmd/pipeline_rollback.go
  projects/phoenix-cli/cmd/pipeline_status.go
  projects/phoenix-cli/internal/client/api.go
  projects/phoenix-cli/internal/client/kubernetes.go
  projects/phoenix-cli/internal/client/types.go
  projects/platform-api/cmd/api/main.go
  projects/platform-api/internal/services/pipeline_status_aggregator.go
Due: check-imports

Add custom OTel processors and collector
  go.work
  pkg/otel/processors/adaptivefilter/adaptive_filter.go
  pkg/otel/processors/adaptivefilter/adaptive_filter_test.go
  pkg/otel/processors/topk/topk.go
  pkg/otel/processors/topk/topk_test.go
  pkg/otel/registry.go
  pkg/otel/registry_test.go
  projects/collector/cmd/collector/main.go
  projects/collector/go.mod
Due: validate-go-workspace, check-imports

new
  phoenix-code-migration-mapping.md
  phoenix-implementation-schedule.md
  phoenix-lean-core-refactoring-plan.md
  validate_e2e_dependencies.ps1
Due: none

all
  docker-compose.yml
  pkg/common/models/pipeline_deployment.go
  pkg/loadgen/patterns.go
  pkg/loadgen/spawner.go
  projects/phoenix-agent/Dockerfile
  projects/phoenix-agent/go.mod
  projects/phoenix-agent/internal/poller/client.go
  projects/phoenix-agent/internal/supervisor/collector.go
  projects/phoenix-agent/internal/supervisor/loadsim.go
  projects/phoenix-api/Dockerfile
  projects/phoenix-api/cmd/api/main.go
  projects/phoenix-api/go.mod
  projects/phoenix-api/internal/api/agents.go
  projects/phoenix-api/internal/api/experiments.go
  projects/phoenix-api/internal/api/pipelines.go
  projects/phoenix-api/internal/api/server.go
  projects/phoenix-api/internal/api/ui_handlers.go
  projects/phoenix-api/internal/config/config.go
  projects/phoenix-api/internal/controller/experiment_controller.go
  projects/phoenix-api/internal/services/pipeline_deployment_service.go
  projects/phoenix-api/internal/services/pipeline_status_aggregator.go
  projects/phoenix-api/internal/store/store.go
  projects/phoenix-api/internal/store/ui_types.go
  projects/phoenix-api/internal/tasks/queue.go
  projects/phoenix-cli/cmd/ui.go
  scripts/start-phoenix-simple.sh
Due: validate-go-workspace, check-imports

feat: Implement lean-core architecture with WebSocket support and UI enhancements
  CLAUDE.md
  Makefile
  go.work
  pkg/common/store/store.go
  projects/analytics/Makefile
  projects/analytics/api/types.go
  projects/analytics/internal/server/server_proto.go
  projects/analytics/internal/server/server_stub.go
  projects/anomaly-detector/Makefile
  projects/anomaly-detector/api/types.go
  projects/anomaly-detector/internal/server/server.go
  projects/anomaly-detector/internal/server/server_stub.go
  projects/collector/Makefile
  projects/phoenix-agent/go.mod
  projects/phoenix-api/cmd/api/main.go
  projects/phoenix-api/go.mod
  projects/phoenix-api/internal/api/experiments.go
  projects/phoenix-api/internal/api/loadsim.go
  projects/phoenix-api/internal/api/pipeline_deployments.go
  projects/phoenix-api/internal/api/server.go
  projects/phoenix-api/internal/controller/experiment_controller.go
  projects/phoenix-api/internal/controller/state_machine.go
  projects/phoenix-api/internal/services/pipeline_deployment_service.go
  projects/phoenix-api/internal/services/pipeline_status_aggregator.go
  projects/phoenix-api/internal/store/agent_store.go
  projects/phoenix-api/internal/store/composite_store.go
  projects/phoenix-api/internal/store/postgres_store.go
  projects/phoenix-api/internal/store/store.go
  projects/phoenix-api/internal/store/task_store.go
  projects/phoenix-api/migrations/003_agent_tasks.down.sql
  projects/phoenix-api/migrations/003_agent_tasks.up.sql
  projects/phoenix-cli/cmd/experiment_delete.go
  projects/phoenix-cli/cmd/experiment_list.go
  projects/phoenix-cli/internal/client/api.go
  projects/phoenix-cli/internal/client/api_test.go
  projects/phoenix-cli/internal/client/types.go
Due: validate-go-workspace, check-imports

all
  pkg/database/patterns/crud.go
  pkg/database/patterns/query.go
  pkg/http/middleware/cors.go
  pkg/http/middleware/logging.go
  projects/dashboard/src/hooks/shared/useAPI.ts
  projects/dashboard/src/hooks/shared/usePagination.ts
  projects/phoenix-api/internal/store/composite_store.go
Due: check-imports

all
  Dockerfile.phoenix-agent
  Dockerfile.phoenix-api
  MVP_IMPLEMENTATION_SUMMARY.md
  deployments/kubernetes/phoenix-api.yaml
  docker-compose.yml
  infrastructure/kubernetes/overlays/production/ingress.yaml
  pkg/common/store/store.go
  projects/dashboard/src/hooks/useWebSocket.ts
  projects/dashboard/src/services/websocket/NativeWebSocketService.ts
  projects/dashboard/src/services/websocket/WebSocketService.ts
  projects/phoenix-api/internal/api/server.go
  projects/phoenix-api/internal/api/ui_handlers.go
  scripts/create-all-tables.sql
  scripts/create-experiments-table.sql
  scripts/init-db-simple.sql
  scripts/run-e2e-demo.sh
  scripts/validate-mvp.sh
  tests/e2e/rest_api_test.go
Due: check-imports, validate-api-contracts

all
  pkg/common/go.mod
  pkg/common/models/experiment.go
  pkg/common/store/store.go
  pkg/database/types.go
  pkg/go.mod
  pkg/go.sum
Due: validate-go-workspace, check-imports

Add resource requests and limits to pipeline-operator deployment
  projects/pipeline-operator/deployments/k8s/deployment.yaml
Due: validate-api-contracts

Add team task distribution plan for Pipeline Catalog implementation
  docs/project/TEAM_TASK_DISTRIBUTION.md
Due: none

Update team task distribution with architecture-based component ownership
  docs/project/TEAM_TASK_DISTRIBUTION.md
Due: none

Add PR description for team task distribution
  docs/project/PR_DESCRIPTION.md
Due: none

Add Praveen to the team task distribution as Security Engineer
  docs/project/PR_DESCRIPTION.md
  docs/project/TEAM_TASK_DISTRIBUTION.md
Due: none

detailed
  docs/project/DETAILED_TASK_ASSIGNMENTS.md
Due: none

Remove duplicate PR description file, keeping only TEAM_TASK_DISTRIBUTION.md
  docs/project/PR_DESCRIPTION.md
Due: none

Delete docs/project/DETAILED_TASK_ASSIGNMENTS.md
  docs/project/DETAILED_TASK_ASSIGNMENTS.md
Due: none

Path conditions:
  validate-go-workspace: any of: (go\.mod|go\.work)$
  check-imports: any of: \.go$
  validate-api-contracts: any of: (\.proto|\.yaml|\.json)$
