Repository deepaucksharma-nr/Phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-go-workspace, check-imports, validate-api-contracts

Path conditions:
  validate-go-workspace: any of: (go\.mod|go\.work)$
  check-imports: any of: \.go$
  validate-api-contracts: any of: (\.proto|\.yaml|\.json)$

chore: Final module updates and cleanup
  DOCUMENTATION_MIGRATION_PLAN.md
  packages/contracts/go.mod
  packages/go-common/go.mod
  projects/dashboard/src/components/Auth/AuthProvider.tsx
  projects/dashboard/src/components/Auth/RoleGuard.tsx
  projects/dashboard/src/components/WebSocket/WebSocketProvider.tsx
  projects/dashboard/src/pages/ForgotPassword.tsx
  projects/platform-api/cmd/api/main.go
  projects/platform-api/go.mod
  projects/platform-api/go.sum
  projects/platform-api/internal/services/experiment_service.go
  projects/platform-api/internal/services/experiment_service_temp.go
  services/anomaly-detector/go.mod
  services/api/cmd/main.go
  services/api/go.mod
  services/api/internal/services/experiment_service.go
  services/api/internal/services/pipeline_deployment_service.go
  services/controller/go.mod
  services/controller/internal/clients/kubernetes.go
  services/controller/internal/controller/integration_test.go
  services/controller/internal/controller/state_machine.go
  services/controller/internal/grpc/adapter.go
  services/controller/internal/grpc/simple_server.go
  services/controller/internal/grpc/simple_server_test.go
  services/controller/internal/store/postgres.go
  services/controller/main.go
  services/generator/go.mod
  services/generator/internal/grpc/generator_server.go
  services/generator/internal/grpc/generator_server_test.go
  services/generator/main.go
  services/generators/synthetic/go.mod
  services/validator/go.mod
Due: validate-go-workspace, check-imports

fix: Update RoleGuard component
  projects/dashboard/src/components/Auth/RoleGuard.tsx
  projects/dashboard/src/components/Auth/SessionTimeout.tsx
  projects/platform-api/cmd/api/main.go
Due: check-imports

added
  projects/dashboard/src/components/Auth/SessionTimeout.tsx
  projects/hello-phoenix/main.go
  projects/platform-api/cmd/api/main.go
Due: check-imports

docs: Add migration success report and welcome guide
  MIGRATION_SUCCESS_REPORT.md
  WELCOME_TO_NEW_PHOENIX.md
Due: none

docs: Comprehensive documentation consolidation and team assignments
  MASTER_DOCUMENTATION_INDEX.md
  NEXT_STEPS.md
  PHOENIX_DEMO_SUMMARY.md
  PHOENIX_PLATFORM_DEMO.md
  PRD_ALIGNMENT_REPORT.md
  QUICKSTART.md
  TEAM_ASSIGNMENTS.md
  docs/ARCHITECTURE_OVERVIEW.md
  docs/DATABASE_VIOLATION_FIX_SUMMARY.md
  docs/PRD_ALIGNMENT_ANALYSIS.md
  docs/architecture/ARCHITECTURE_COMPLETE.md
  docs/migration/MIGRATION_HISTORY_COMPLETE.md
  docs/operations/OPERATIONS_GUIDE_COMPLETE.md
  docs/testing/TESTING_GUIDE_COMPLETE.md
Due: none

Update TEAM_ASSIGNMENTS.md
  TEAM_ASSIGNMENTS.md
Due: none

Kubernetes & Container Orchestration: Standardize manifests and optimize Helm charts
  infrastructure/helm/phoenix/templates/api-configmap.yaml
  infrastructure/helm/phoenix/templates/api-deployment.yaml
  infrastructure/helm/phoenix/values-production-template.yaml
  infrastructure/kubernetes/base/_helpers.tpl
  infrastructure/kubernetes/examples/standard-kustomization-base.yaml
  projects/api/deployments/k8s/deployment.yaml
  projects/api/deployments/k8s/service.yaml
Due: validate-api-contracts

K8s & Container Orchestration: Standardize K8s manifests and optimize Helm charts
  deployments/kubernetes/base/deployment-template.yaml
  deployments/kubernetes/base/service-template.yaml
  infrastructure/helm/charts/phoenix/values.schema.json
  scripts/standardize-k8s.sh
Due: validate-api-contracts

docs: Add ultra-detailed architecture diagrams and documentation
  docs/architecture/PHOENIX_ARCHITECTURE_DETAILED_GUIDE.md
  docs/architecture/PHOENIX_COMPONENT_INTERACTIONS.mmd
  docs/architecture/PHOENIX_DATA_MODEL.mmd
  docs/architecture/PHOENIX_DETAILED_ARCHITECTURE.mmd
  docs/architecture/PHOENIX_NETWORK_TOPOLOGY.mmd
Due: none

chore: Add quick start guide and websocket hub updates
  QUICK_START.md
  projects/platform-api/internal/websocket/hub.go
Due: check-imports

CI/CD Pipeline Management: Workflow templates standardization and pipeline optimization
  .github/workflows/_templates/go-service.yml
  .github/workflows/_templates/node-service.yml
  .github/workflows/_templates/python-service.yml
  .github/workflows/metrics-collection.yml
  scripts/optimize-pipelines.sh
Due: none

Infrastructure as Code: Terraform modules and documentation
  deployments/terraform/environments/dev/main.tf
  deployments/terraform/modules/eks/main.tf
  deployments/terraform/modules/monitoring/main.tf
  deployments/terraform/modules/rds/main.tf
  docs/infrastructure/INFRASTRUCTURE.md
Due: none

docs: Add protobuf setup guide and platform status report
  DEVELOPMENT_GUIDE.md
  PHOENIX_PLATFORM_STATUS.md
  PRD_IMPLEMENTATION_PLAN.md
  PRD_QUICK_REFERENCE.md
  docs/PROTOBUF_SETUP_GUIDE.md
  scripts/final-check.sh
Due: none

docs: Add final migration completion artifacts
  MIGRATION_COMPLETE.md
  Makefile.prd
  validate.sh
Due: none

feat: Add DeploymentStatus model to pipeline deployments
  packages/go-common/models/pipeline_deployment.go
Due: check-imports

feat: Complete loadsim-operator CRD implementation
  projects/loadsim-operator/api/v1alpha1/groupversion_info.go
  projects/loadsim-operator/api/v1alpha1/loadsimulationjob_types.go
  projects/loadsim-operator/cmd/main.go
  projects/loadsim-operator/internal/controller/loadsimulationjob_controller.go
  projects/loadsim-operator/internal/generator/generator.go
Due: check-imports

chore: Remove services directory and update go.work
  PHOENIX_PLATFORM_FINAL_STATE.md
  docs/guides/PRD_IMPLEMENTATION_EXAMPLES.md
  go.work
  pkg/loadgen/factory.go
  pkg/loadgen/patterns.go
  projects/phoenix-cli/cmd/loadsim.go
  projects/phoenix-cli/cmd/loadsim_start.go
  projects/phoenix-cli/cmd/root.go
Due: validate-go-workspace, check-imports

docs: Add final platform state and accomplishments summary
  ACCOMPLISHMENTS_SUMMARY.md
Due: none

fix: Update go.work to remove non-existent modules
  go.work
Due: validate-go-workspace

interactive api example
  site/css/interactive-examples.css
  site/js/interactive-examples.js
  site/mkdocs.yml
Due: none

infra-updates
  .github/workflows/_templates/node-service.yml
  .github/workflows/_templates/python-service.yml
  .github/workflows/metrics-collection.yml
  .github/workflows/security-scan.yml
  ABHINAV_TASK_BREAKDOWN.md
  deployments/kubernetes/base/deployment-template.yaml
  deployments/kubernetes/base/service-template.yaml
  deployments/monitoring/grafana/config.yaml
  deployments/monitoring/grafana/deployment.yaml
  deployments/monitoring/jaeger/deployment.yaml
  deployments/monitoring/loki/promtail.yaml
  deployments/monitoring/loki/statefulset.yaml
  deployments/monitoring/prometheus/configmap.yaml
  deployments/monitoring/prometheus/deployment.yaml
  deployments/monitoring/prometheus/rules.yaml
  deployments/terraform/environments/dev/main.tf
  deployments/terraform/modules/eks/main.tf
  deployments/terraform/modules/monitoring/main.tf
  deployments/terraform/modules/rds/main.tf
  docs/infrastructure/INFRASTRUCTURE.md
  infrastructure/helm/charts/phoenix/values.schema.json
  infrastructure/helm/phoenix/values-production-template.yaml
  infrastructure/kubernetes/base/_helpers.tpl
  infrastructure/kubernetes/examples/standard-kustomization-base.yaml
  projects/api/deployments/k8s/service.yaml
  scripts/build-test-automator.sh
  scripts/code-quality-analyzers.sh
  scripts/compliance-checker.sh
  scripts/monitoring-setup.sh
  scripts/optimize-pipelines.sh
  scripts/secrets-manager.sh
  scripts/standardize-dev-env.sh
  scripts/standardize-k8s.sh
Due: validate-api-contracts

all
  configs/pipelines/catalog/process/process-topk-v1.yaml
  pkg/loadgen/loadgen_test.go
  projects/phoenix-cli/cmd/auth_login.go
  projects/phoenix-cli/cmd/auth_logout.go
  projects/phoenix-cli/cmd/auth_status.go
  projects/phoenix-cli/cmd/benchmark.go
  projects/phoenix-cli/cmd/config.go
  projects/phoenix-cli/cmd/experiment.go
  projects/phoenix-cli/cmd/experiment_create.go
  projects/phoenix-cli/cmd/loadsim_list_profiles.go
  projects/phoenix-cli/cmd/loadsim_status.go
  projects/phoenix-cli/cmd/loadsim_stop.go
  projects/phoenix-cli/go.mod
  projects/phoenix-cli/internal/client/kubernetes.go
  tests/acceptance/framework/report.go
  tests/acceptance/framework/test_suite.go
  tests/acceptance/tests/at_p01_pipeline_deployment_test.go
Due: validate-go-workspace, check-imports, validate-api-contracts

all
  PRD_IMPLEMENTATION_PLAN.md
  PRD_QUICK_REFERENCE.md
  configs/pipelines/catalog/process/process-adaptive-filter-v1.yaml
  tests/acceptance/tests/at_p02_experiment_creation_test.go
Due: check-imports, validate-api-contracts

docs: Add project completion checklist
  PROJECT_COMPLETION_CHECKLIST.md
Due: none

fix: Resolve analytics service build issues
  projects/analytics/internal/api/handlers.go
  projects/analytics/internal/visualizer/chart_generator.go
Due: check-imports

feat: Implement LoadSim operator for Sprint 1 of PRD Implementation Plan
  projects/loadsim-operator/build/Dockerfile
  projects/loadsim-operator/internal/generator/generator_test.go
  projects/loadsim-operator/tests/integration/loadsim_test.go
  projects/phoenix-cli/internal/client/kubernetes.go
  projects/phoenix-cli/internal/output/output.go
Due: check-imports

docs: Add migration completion summary
  MIGRATION_COMPLETION_SUMMARY.md
Due: none

feat: Complete Phoenix CLI with advanced functionality
  IMPLEMENTATION_CHECKLIST.md
  MIGRATION_CHECKLIST.md
  MIGRATION_FINAL_SUCCESS.md
  PRD_COMPLETION_SUMMARY.md
  PRD_COMPLIANCE_ROADMAP.md
  PRD_EXECUTIVE_DASHBOARD.md
  projects/phoenix-cli/cmd/experiment_list.go
  projects/phoenix-cli/cmd/experiment_metrics.go
  projects/phoenix-cli/cmd/experiment_promote.go
  projects/phoenix-cli/cmd/experiment_start.go
  projects/phoenix-cli/cmd/experiment_status.go
  projects/phoenix-cli/cmd/experiment_stop.go
  projects/phoenix-cli/cmd/loadsim_list_profiles.go
  projects/phoenix-cli/cmd/loadsim_start.go
  projects/phoenix-cli/cmd/loadsim_status.go
  projects/phoenix-cli/cmd/loadsim_stop.go
  projects/phoenix-cli/cmd/migrate.go
  projects/phoenix-cli/cmd/pipeline_deploy.go
  projects/phoenix-cli/cmd/pipeline_list.go
  projects/phoenix-cli/cmd/pipeline_show.go
  projects/phoenix-cli/cmd/plugin.go
  projects/phoenix-cli/internal/client/loadsim.go
Due: check-imports

docs: Add project handoff document
  PROJECT_HANDOFF_DOCUMENT.md
Due: none

🎉 docs: Add celebration document for project completion
  CELEBRATION.md
Due: none

feat: Complete Sprint 0 infrastructure tasks from PRD Implementation Plan
  projects/platform-api/internal/services/pipeline_deployment_service.go
Due: check-imports

📋 docs: Add final repository status report
  FINAL_REPOSITORY_STATUS.md
Due: none

📖 docs: The End - Documentation journey complete
  THE_END.md
Due: none

🔧 feat: Complete phoenix-cli import path fixes and enhanced functionality
  pkg/aggregation/pipeline/handler.go
  pkg/aggregation/pipeline/status_aggregator.go
  pkg/validation/pipeline/validator.go
  pkg/validation/pipeline/validator_test.go
  projects/phoenix-cli/cmd/benchmark.go
  projects/phoenix-cli/cmd/experiment.go
  projects/phoenix-cli/cmd/experiment_test.go
  projects/phoenix-cli/cmd/loadsim_list_profiles.go
  projects/phoenix-cli/cmd/loadsim_start.go
  projects/phoenix-cli/cmd/loadsim_status.go
  projects/phoenix-cli/cmd/loadsim_stop.go
  projects/phoenix-cli/cmd/migrate.go
  projects/phoenix-cli/cmd/phoenix-cli/main.go
  projects/phoenix-cli/cmd/pipeline.go
  projects/phoenix-cli/cmd/pipeline_delete.go
  projects/phoenix-cli/cmd/pipeline_get_config.go
  projects/phoenix-cli/cmd/pipeline_list_deployments.go
  projects/phoenix-cli/cmd/pipeline_rollback.go
  projects/phoenix-cli/cmd/pipeline_show.go
  projects/phoenix-cli/cmd/pipeline_status.go
  projects/phoenix-cli/cmd/pipeline_validate.go
  projects/phoenix-cli/cmd/plugin.go
  projects/phoenix-cli/internal/client/api.go
  projects/phoenix-cli/internal/client/kubernetes.go
  projects/phoenix-cli/internal/client/loadsim.go
  projects/phoenix-cli/internal/client/types.go
  projects/phoenix-cli/internal/client/types_k8s.go
  projects/phoenix-cli/internal/completion/completion.go
  projects/phoenix-cli/internal/config/config.go
  projects/phoenix-cli/internal/migration/migration.go
  projects/phoenix-cli/internal/output/output.go
Due: check-imports

feat: Complete Sprint 2 Pipeline Management tasks from PRD Implementation Plan
  projects/platform-api/internal/services/pipeline_status_aggregator.go
Due: check-imports
