Repository deepaucksharma-nr/Phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-go-workspace, check-imports, validate-api-contracts

Path conditions:
  validate-go-workspace: any of: (go\.mod|go\.work)$
  check-imports: any of: \.go$
  validate-api-contracts: any of: (\.proto|\.yaml|\.json)$

feat: Production-readiness improvements for Phoenix API
  projects/phoenix-api/.env.example
  projects/phoenix-api/cmd/api/main.go
  projects/phoenix-api/internal/api/auth.go
  projects/phoenix-api/internal/api/ui_handlers.go
  projects/phoenix-api/internal/config/config.go
  projects/phoenix-api/internal/services/jwt_service.go
  projects/phoenix-api/internal/store/composite_store.go
  projects/phoenix-api/internal/store/store.go
  projects/phoenix-api/migrations/009_metrics_tables.down.sql
  projects/phoenix-api/migrations/009_metrics_tables.up.sql
  projects/phoenix-api/migrations/010_token_blacklist.down.sql
  projects/phoenix-api/migrations/010_token_blacklist.up.sql
Due: check-imports

fix: Resolve compilation errors in phoenix-api and phoenix-cli
  projects/phoenix-api/go.mod
  projects/phoenix-api/go.sum
  projects/phoenix-api/internal/api/ui_handlers.go
  projects/phoenix-cli/cmd/auth_test.go
  projects/phoenix-cli/cmd/pipeline_list_versions.go
  projects/phoenix-cli/go.mod
  projects/phoenix-cli/internal/output/output_test.go
Due: validate-go-workspace, check-imports

fix: Fix remaining compilation errors in output_test.go
  projects/phoenix-cli/internal/output/output_test.go
Due: check-imports

fix: Fix fmt.Sprintf format string in plugin.go
  projects/phoenix-cli/cmd/plugin.go
Due: check-imports

fix
  Dockerfile.phoenix-agent
  configs/otel-templates/nrdot/baseline.yaml
  configs/otel-templates/nrdot/cardinality-reduction.yaml
  deployments/single-vm/scripts/install-agent.sh
  pkg/aggregation/pipeline/status_aggregator.go
  pkg/common/interfaces/pipeline.go
  projects/phoenix-agent/cmd/phoenix-agent/main.go
  projects/phoenix-agent/internal/config/config.go
  projects/phoenix-agent/internal/supervisor/collector.go
  projects/phoenix-api/internal/services/pipeline_template_renderer.go
  projects/phoenix-cli/cmd/experiment_start.go
  projects/phoenix-cli/cmd/pipeline_deploy.go
  projects/phoenix-cli/cmd/pipeline_vm_config.go
  projects/phoenix-cli/internal/client/types.go
  projects/phoenix-cli/internal/completion/completion.go
  scripts/deploy-agent.sh
  scripts/deploy-control.sh
  scripts/deploy-setup.sh
  scripts/phoenix-monitor.sh
  scripts/phoenix-validate.sh
Due: check-imports, validate-api-contracts

fix
  phoenix-platform/cmd/phoenix-cli/internal/completion/completion.go
  pkg/aggregation/pipeline/status_aggregator.go
  projects/phoenix-api/internal/api/pipelines_test.go
  projects/phoenix-api/internal/services/pipeline_template_renderer.go
  scripts/STREAMLINED_SCRIPTS.md
  scripts/deploy-agent.sh
  scripts/deploy-control.sh
  scripts/deploy-setup.sh
  scripts/dev-reset.sh
  scripts/dev-setup.sh
  scripts/dev-start.sh
  scripts/dev-status.sh
  scripts/dev-stop.sh
  scripts/fix-composite-store.sh
  scripts/install-protoc.sh
  scripts/phoenix-backup.sh
  scripts/phoenix-monitor.sh
  scripts/phoenix-restore.sh
  scripts/phoenix-validate.sh
  scripts/test-coverage.sh
  scripts/validate-monorepo.sh
Due: check-imports

nrdot
  .env.example
  .env.template
  CLAUDE.md
  Makefile
  NRDOT_DOCUMENTATION_UPDATE_SUMMARY.md
  configs/otel/README.md
  deployments/single-vm/.env.template
  deployments/single-vm/README.md
  docker-compose.yml
  docs/api/PHOENIX_API_v2.md
  docs/getting-started/first-experiment.md
  docs/operations/configuration.md
  examples/experiment-nrdot.json
  projects/phoenix-api/migrations/011_nrdot_support.down.sql
  projects/phoenix-api/migrations/011_nrdot_support.up.sql
  scripts/demo-nrdot.sh
  scripts/test-nrdot-integration.sh
  tests/integration/nrdot_integration_test.go
Due: check-imports, validate-api-contracts

nrdot
  NRDOT_DOCUMENTATION_UPDATE_SUMMARY.md
  README.md
  docs/operations/nrdot-troubleshooting.md
Due: none

nrdot
  ARCHITECTURE.md
  DOCUMENTATION_FINAL_SUMMARY.md
  DOCUMENTATION_VALIDATION_REPORT.md
  Makefile.dev
  README.md
  archive/summaries/COMPLETE_DOCUMENTATION_UPDATE.md
  archive/summaries/DEMO_SUMMARY.md
  archive/summaries/DOCUMENTATION_UPDATE_SUMMARY.md
  archive/summaries/END_TO_END_SYNC_COMPLETE.md
  archive/summaries/MVP_IMPLEMENTATION_SUMMARY.md
  archive/summaries/SYNC_FIXES_SUMMARY.md
  docker-compose.dev.yml
  docs/README.md
  docs/api/README.md
  docs/operations/README.md
  projects/phoenix-api/.env.template
  scripts/dev-start.sh
  scripts/validate-documentation.sh
Due: none

nrdot
  .githooks/README.md
  .githooks/pre-commit
  Makefile
  scripts/clean-build-artifacts.sh
  simple-experiment.json
  test-experiment.json
Due: validate-api-contracts
