Repository deepaucksharma-nr/Phoenix: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-go-workspace, check-imports, validate-api-contracts

Path conditions:
  validate-go-workspace: any of: (go\.mod|go\.work)$
  check-imports: any of: \.go$
  validate-api-contracts: any of: (\.proto|\.yaml|\.json)$

docs: Update OLD_IMPLEMENTATION documentation index
  OLD_IMPLEMENTATION/docs/index.md
Due: none

fix: Update pre-flight checks for macOS compatibility and add migration state tracking
  .migration/pre-flight-results.json
Due: validate-api-contracts

chore: Prepare for migration - update pre-flight checks for macOS compatibility
  .migration/pre-flight-results.json
  OLD_IMPLEMENTATION/docs/index.md
Due: validate-api-contracts

fix: Update pre-flight checks script with macOS df compatibility
  .migration/pre-flight-results.json
  scripts/migration/pre-flight-checks.sh
Due: validate-api-contracts

chore: Prepare for migration execution
  .migration/pre-flight-results.json
Due: validate-api-contracts

feat: Fix pre-flight checks for macOS compatibility
  .gitignore
  .migration/pre-flight-results.json
Due: validate-api-contracts

docs: Update INDEX.md in OLD_IMPLEMENTATION
  OLD_IMPLEMENTATION/docs/index.md
Due: none

chore: Update docs and add migration directory to gitignore
  .migration/pre-flight-results.json
Due: validate-api-contracts

feat: Complete Phase 0 foundation setup and fix migration scripts
  .env.template
  Makefile.common
  package.json
  pkg/auth/jwt.go
  pkg/auth/service.go
  scripts/migrate-shared-packages.sh
  scripts/run-migration.sh
  turbo.json
Due: check-imports, validate-api-contracts

feat: Add package structure and migration foundation files
  pkg/database/migrations/001_create_experiments.sql
  pkg/database/migrations/001_initial_schema.sql
  pkg/database/migrations/002_auth_schema.sql
  pkg/database/migrations/002_create_pipelines.sql
  pkg/database/migrations/003_create_experiment_states.sql
  pkg/database/migrations/004_create_metrics.sql
  pkg/database/migrations/005_create_pipeline_deployments.sql
  pkg/database/postgres/store.go
  pkg/database/postgres/store_test.go
  pkg/grpc/proto/phoenix/v1/controller.proto
  pkg/grpc/proto/phoenix/v1/experiment.proto
  pkg/grpc/proto/phoenix/v1/generator.proto
  pkg/grpc/proto/v1/common.proto
  pkg/grpc/proto/v1/controller.proto
  pkg/grpc/proto/v1/experiment.proto
  pkg/grpc/proto/v1/generator.proto
  pkg/http/client/clients.go
  pkg/messaging/events/memory_eventbus.go
  pkg/telemetry/metrics/metrics.go
  pkg/utils/utils.go
  scripts/run-migration.sh
Due: check-imports, validate-api-contracts

feat: Complete Phase 2 - Core Services Migration
  infrastructure/kubernetes/base/api-gateway.yaml
  infrastructure/kubernetes/base/config-generator.yaml
  infrastructure/kubernetes/base/configmaps.yaml
  infrastructure/kubernetes/base/dashboard.yaml
  infrastructure/kubernetes/base/experiment-controller.yaml
  infrastructure/kubernetes/base/kustomization.yaml
  infrastructure/kubernetes/base/loadsim-operator.yaml
  infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/network-policies.yaml
  infrastructure/kubernetes/base/pipeline-operator.yaml
  infrastructure/kubernetes/base/rbac.yaml
  infrastructure/kubernetes/base/secrets.yaml
  infrastructure/kubernetes/operators/experiment.yaml
  infrastructure/kubernetes/operators/loadsimulationjob.yaml
  infrastructure/kubernetes/operators/phoenixprocesspipeline.yaml
  packages/go-common/go.mod
  packages/go-common/go.sum
  packages/go-common/telemetry/logging/logger.go
Due: validate-go-workspace, check-imports, validate-api-contracts

feat: Complete migration phases 0-5
  go.work
  infrastructure/helm/phoenix/Chart.yaml
  infrastructure/helm/phoenix/templates/NOTES.txt
  infrastructure/helm/phoenix/templates/_helpers.tpl
  infrastructure/helm/phoenix/templates/api-configmap.yaml
  infrastructure/helm/phoenix/templates/api-deployment.yaml
  infrastructure/helm/phoenix/templates/api-service.yaml
  infrastructure/helm/phoenix/templates/dashboard-configmap.yaml
  infrastructure/helm/phoenix/templates/experiment-controller-deployment.yaml
  infrastructure/helm/phoenix/templates/generator-configmap.yaml
  infrastructure/helm/phoenix/templates/generator-deployment.yaml
  infrastructure/helm/phoenix/templates/generator-service.yaml
  infrastructure/helm/phoenix/templates/grafana-dashboards-configmap.yaml
  infrastructure/helm/phoenix/templates/hpa.yaml
  infrastructure/helm/phoenix/templates/ingress.yaml
  infrastructure/helm/phoenix/templates/loadsim-operator-deployment.yaml
  infrastructure/helm/phoenix/templates/loadsim-operator-rbac.yaml
  infrastructure/helm/phoenix/templates/networkpolicy.yaml
  infrastructure/helm/phoenix/templates/pipeline-operator-deployment.yaml
  infrastructure/helm/phoenix/templates/pipeline-operator-rbac.yaml
  infrastructure/helm/phoenix/templates/pipeline-templates-configmap.yaml
  infrastructure/helm/phoenix/templates/poddisruptionbudget.yaml
  infrastructure/helm/phoenix/templates/prometheus-rules.yaml
  infrastructure/helm/phoenix/templates/secrets.yaml
  infrastructure/helm/phoenix/templates/serviceaccount.yaml
  infrastructure/helm/phoenix/templates/servicemonitor.yaml
  infrastructure/helm/phoenix/values.yaml
  infrastructure/kubernetes/overlays/development/kustomization.yaml
  infrastructure/kubernetes/overlays/development/patches.yaml
  infrastructure/kubernetes/overlays/production/ingress.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
  infrastructure/kubernetes/overlays/production/patches.yaml
  monitoring/grafana/dashboards/phoenix-v3-ultra-overview.json
  monitoring/prometheus/prometheus.yaml
  monitoring/prometheus/rules/README.md
  monitoring/prometheus/rules/phoenix_rules.yml
  pkg/go.mod
  pkg/go.sum
  projects/platform-api/go.mod
  projects/platform-api/go.sum
Due: validate-go-workspace, validate-api-contracts

feat: Complete Phase 1 - Shared Packages Migration
  MIGRATION_PHASE1_VALIDATION.md
  MIGRATION_STATUS.md
  packages/go-common/telemetry/logging/logger.go
Due: check-imports

chore: Update imports and go.mod files for migrated services
  operators/loadsim/go.mod
  operators/pipeline/go.mod
  projects/dashboard/src/services/websocket/WebSocketService.ts
  scripts/validate-boundaries.sh
  services/phoenix-cli/internal/migration/migration.go
Due: validate-go-workspace, check-imports

feat: Enforce monorepo modular boundaries
  MIGRATION_REPORT.md
  docs/INTERFACE_CONTRACTS.md
  go.work
  projects/controller/internal/clients/kubernetes.go
  projects/dashboard/src/components/PipelineBuilder/nodes/ProcessorNode.tsx
  projects/loadsim-operator/go.mod
  projects/pipeline-operator/go.mod
  scripts/enforce-boundaries.sh
  services/phoenix-cli/go.mod
  services/phoenix-cli/go.sum
  services/phoenix-cli/internal/completion/completion.go
  tests/e2e/experiment_workflow_test.go
  tests/e2e/simple_e2e_test.go
  tests/integration/api_gateway_test.go
  tests/integration/api_service_test.go
  tests/integration/cli_integration_test.go
  tests/integration/config_generator_test.go
  tests/integration/e2e_test.go
  tests/integration/end_to_end_test.go
  tests/integration/experiment_controller_test.go
  tests/integration/interfaces_test.go
  tests/integration/migration_validation_test.go
  tests/integration/pipeline_deployment_api_test.go
  tests/integration/service_communication_test.go
  tests/integration/setup_test.go
  tests/integration/websocket_test.go
Due: validate-go-workspace, check-imports

chore: Complete migration phases 3-5
  go.work
  pkg/grpc/proto/v1/common.proto
  pkg/grpc/proto/v1/controller.proto
  pkg/grpc/proto/v1/experiment.proto
  pkg/grpc/proto/v1/generator.proto
  projects/platform-api/go.mod
  projects/platform-api/go.sum
  scripts/validate-builds.sh
  services/loadsim-operator/go.mod
  services/phoenix-cli/cmd/plugin.go
  services/phoenix-cli/cmd/plugin.go.new
  services/phoenix-cli/cmd/plugin_readme.go
  services/pipeline-operator/go.mod
Due: validate-go-workspace, check-imports, validate-api-contracts

feat: Complete Phoenix Platform monorepo migration
  CLI_MIGRATION_REPORT.md
  MIGRATION_FINAL_REPORT.md
  pkg/grpc/proto/v1/controller.proto
  pkg/grpc/proto/v1/generator.proto
  services/phoenix-cli/cmd/plugin.go
  services/phoenix-cli/cmd/plugin.go.new
  services/phoenix-cli/cmd/plugin_readme.go
Due: check-imports, validate-api-contracts

feat: Complete Phoenix Platform migration to monorepo
  MIGRATION_SUMMARY.md
  Makefile.e2e
  docker-compose.e2e.yml
  pkg/go.mod
  pkg/go.sum
  pkg/interfaces/events.go
  pkg/models/experiment.go
  pkg/telemetry/logging/logger.go
  projects/dashboard/src/components/Auth/PrivateRoute.tsx
  projects/dashboard/src/components/Auth/index.ts
  projects/dashboard/src/components/Layout/MainLayout.tsx
  projects/dashboard/src/services/api/api.service.ts
  projects/dashboard/src/theme.ts
  scripts/archive-old-implementation.sh
  scripts/deploy-dev.sh
  scripts/e2e-test.sh
  scripts/generate-proto.sh
  scripts/run-e2e-demo.sh
  scripts/setup-dev-env.sh
  scripts/update-module-names.sh
  scripts/validate-integration.sh
  scripts/validate-migration.sh
  services/api/Dockerfile.local
  services/api/cmd/api/main.go
  services/api/go.sum
  services/controller/Dockerfile.local
  services/controller/cmd/controller/main.go
  services/controller/go.mod
  services/controller/go.sum
  services/generator/Dockerfile.local
  services/generator/cmd/generator/main.go
  services/generator/go.mod
  services/generator/go.sum
  services/phoenix-cli/cmd/benchmark.go
  validation-report-20250526-050234.txt
Due: validate-go-workspace, check-imports

feat: Complete Phoenix Platform monorepo migration with deployment tooling
  E2E_DEMO_GUIDE.md
  README.md
  go.work
  operators/loadsim/go.mod
  operators/loadsim/go.sum
  operators/pipeline/go.mod
  operators/pipeline/go.sum
  projects/analytics/go.mod
  projects/anomaly-detector/go.mod
  projects/benchmark/go.mod
  projects/benchmark/go.sum
  projects/control-actuator-go/go.mod
  projects/controller/go.mod
  projects/controller/go.sum
  projects/dashboard/package.json
  projects/dashboard/src/components/WebSocket/WebSocketProvider.tsx
  projects/loadsim-operator/go.mod
  projects/pipeline-operator/go.mod
  projects/platform-api/go.mod
  services/analytics/go.mod
  services/anomaly-detector/go.mod
  services/api/go.mod
  services/benchmark/go.mod
  services/control-actuator-go/go.mod
  services/controller/go.mod
  services/generator/go.mod
  services/generators/synthetic/go.mod
  services/loadsim-operator/go.mod
  services/phoenix-cli/cmd/migrate.go
  services/pipeline-operator/go.mod
  services/validator/go.mod
Due: validate-go-workspace, check-imports, validate-api-contracts

docs: Add comprehensive migration summary
  MIGRATION_SUMMARY.md
Due: none

feat: Add comprehensive migration verification script
  scripts/verify-migration.sh
Due: none

docs: Add final migration report
  MIGRATION_COMPLETE.md
Due: none

feat: Complete post-migration setup and tooling
  MIGRATION_REPORT_20250526_052025.txt
  PHOENIX_PLATFORM_ARCHITECTURE.md
  ULTIMATE_MONOREPO_ARCHITECTURE.md
  docs/ROLLBACK_PLAN.md
  docs/generated/SERVICE_INVENTORY.md
  projects/dashboard/package-lock.json
  projects/dashboard/package.json
  projects/dashboard/src/config/axios.ts
  projects/dashboard/src/pages/Dashboard.tsx
  projects/dashboard/src/store/slices/authSlice.ts
  projects/dashboard/src/store/slices/experimentSlice.ts
  scripts/post-migration-tasks.sh
  scripts/quick-start.sh
  services/phoenix-cli/cmd/benchmark.go
  services/phoenix-cli/cmd/experiment_create.go
  services/phoenix-cli/cmd/experiment_list.go
  services/phoenix-cli/cmd/experiment_status.go
  services/phoenix-cli/cmd/migrate.go
  services/phoenix-cli/internal/migration/migration.go
  services/phoenix-cli/internal/output/output.go
Due: check-imports, validate-api-contracts

feat: Complete Phoenix Platform migration with validation and documentation
  MIGRATION_COMPLETION_REPORT.md
  services/phoenix-cli/internal/migration/migration.go
Due: check-imports

refactor: Final cleanup and push preparation
  PUSH_SUMMARY.md
  projects/dashboard/src/components/ExperimentBuilder/PipelineCanvas.tsx
  projects/dashboard/src/pages/Experiments.tsx
  projects/dashboard/src/store/useAuthStore.ts
  projects/dashboard/src/store/useExperimentStore.ts
  projects/dashboard/src/store/usePipelineStore.ts
  services/phoenix-cli/cmd/experiment.go
  services/phoenix-cli/cmd/plugin.go
  services/phoenix-cli/internal/migration/migration.go
Due: check-imports

docs: Add team onboarding and handoff documentation
  HANDOFF_CHECKLIST.md
  TEAM_ONBOARDING.md
Due: none

docs: Add visual migration summary
  MIGRATION_VISUAL_SUMMARY.md
Due: none

chore: Update package module versions
  packages/contracts/go.mod
  packages/go-common/go.mod
Due: validate-go-workspace

fix: Update go.work to remove deleted services
  go.work
Due: validate-go-workspace

chore: Final cleanup and contract generation script
  packages/contracts/generate.sh
  projects/dashboard/src/pages/Login.tsx
  services/api/go.mod
  services/generator/go.mod
Due: validate-go-workspace

fix: Update login page and service modules
  projects/dashboard/src/pages/Login.tsx
  services/controller/go.mod
Due: validate-go-workspace

chore: Final proto updates and UI components
  packages/contracts/proto/v1/common.proto
  packages/contracts/proto/v1/controller.proto
  packages/contracts/proto/v1/experiment.proto
  packages/contracts/proto/v1/generator.proto
  projects/dashboard/src/components/Auth/UserProfile.tsx
  projects/dashboard/src/pages/Register.tsx
  projects/platform-api/internal/services/experiment_service_temp.go
Due: check-imports, validate-api-contracts

feat: Add final push script with safety checks
  scripts/push-to-remote.sh
Due: none

docs: Add final push checklist
  FINAL_PUSH_CHECKLIST.md
Due: none
